<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <style>
    	.hover:hover {
    		box-shadow: 8px 8px 17px grey;
			}
			.hover{
    		border: 1.5px solid black;
    		box-shadow: 8px 8px 8px grey;
    	}

    </style>
</head>
<body>

<header>
    <%- include('partials/header', {title: title}); %>
</header>

<main>
	    <div class="container h-100 mt-auto">
        <div class="text-center mx-auto w-75" style="margin-top: 160px;">
        	<div class="jumbotron"><h1 class="display-4"><strong>Welcome to Our Office</strong></h1></div>
					<div class="row justify-content-around">
						<a href="/hosts" class="col-md-4 col-sm-2 p-3 hover">
							<div class="text-center"><h5><i class="fas fa-search"></i> &nbspFind Your Host</h5></div>
						</a>
						<a href="/host/" class="col-md-4 col-sm-2 p-3 hover">
							<div class="text-center"><h5><i class="fas fa-briefcase"></i> &nbspRegister as Host</h5></div>
						</a>
					</div>
				</div>
	    </div>
</main>

<footer>
    <%- include('partials/footer') %>
</footer>

</body>
</html>