<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>

<header>
    <%- include('partials/header', {title: title}); %>
</header>

<main class="pt-4">
      <div class="row align-items-center">
        <div class="col-md-6 offset-md-3 order-md-1 text-center">
	        <h1>Register for Appointment</h1>
	        <form action="/visitor/success" method="POST">
					  <div class="form-group">
					    <input type="string" name="visitor_name" class="form-control mt-4 " placeholder="Enter Name" required="true">
					    <input type="email" name="visitor_email" class="form-control mt-2 " placeholder="Enter Email" required="true">
					    <input type="string" name="visitor_phone" class="form-control mt-2" placeholder="Enter Contact Details" required="true">
					    <input type="string" name="host_id" class="form-control  mt-2" placeholder="Enter Address" required="true" hidden="true" value="<%=host.id%>">
					  </div>
					  <button type="submit" class="btn btn-primary">Register</button>
					</form>
			</div>
		</div>
</main>

<footer>
    <%- include('partials/footer') %>
</footer>

</body>
</html>